<div class="page-header text-center">
	<h1><font color="green"><strong id="top">Crear formato</strong></font></h1></div>
	<div class="row">
		<label class="col-md-10 col-md-offset-2 requerido"><em><u>Todos los campos marcados con * son obligatorios</u></em></label><br><br>
	</div>

	<div class="formatos">
		<form class="form-horizontal" name="formatoForm" ng-submit="formato()" novalidate>

			<!-- CANTIDAD DE SECCIONES --> 
			<div class="form-group">
				<div ng-class="classValidacion(formatoForm, 'titulo')">
					<label class="control-label col-md-2 col-md-offset-2" for="tituloFormato">Título Formato*</label>
					<div class="col-md-2">
						<input type="text"  class="form-control" name="titulo" ng-model="formato.titulo" id="titulo"
						autofocus required>
					</div>
				</div>
				<div ng-class="classValidacion(formatoForm, 'numsecciones')">
					<label class="control-label col-md-2 col-md-offset-0" for="seccionesFormato">Número de secciones*</label>
					<div class="col-md-2">
						<input type="number" ng-disabled="formato.checkActa" min="0" max="15" pattern="^[0-9]+" class="form-control" name="numsecciones" ng-model="formato.numsecciones" id="numsecciones"
						 autofocus required>
						<br>
					</div>
				</div>

				<div ng-class="classValidacion(formatoForm, 'titulo')">
					<div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(formatoForm, 'titulo')"
						ng-if="mostrarValidacion(formatoForm, 'titulo')" multiple>
						<p ng-message="required" class="help-block"><b>Debe ingresar el título del formato.</b></p>
					</div>
				</div>
				<div ng-class="classValidacion(formatoForm, 'numsecciones')">
					<div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(formatoForm, 'numsecciones')"
						ng-if="mostrarValidacion(formatoForm, 'numsecciones')" multiple>
						<p ng-message="required" class="help-block"><b>Debe ingresar la cantidad de secciones.</b></p>
					</div>
				</div>
			</div>
			<div class="form-group" ng-if="formato.numsecciones>=0">
				<label class="control-label col-md-2 col-md-offset-2">¿Es tipo acta?</label>
				<div class="col-md-2">
						<input type="checkbox" ng-model="formato.checkActa" ng-click="check()" class="checkitem">
				</div>
			</div>

			<!-- SECCIÓN -->
			<div class="form-group" ng-if="formato.numsecciones>=0">
				<!---                 Encabezado                -->
					<!-- nombre -->
					<label class="control-label col-md-2 col-md-offset-2">Encabezado</label>
					 <!-- CONTENIDO Del encabezado-->
					<div class="col-md-8 col-md-offset-2">
						<input type="text" class="form-control" name="encabezado" ng-model="formato.encabezado" id="encabezado" ckeditor="config">
						<br><hr><br>
					</div>	
				<div ng-repeat="i in getNumber(formato.numsecciones) track by $index">
					 <!-- NOMBRE -->
					<div ng-class="classValidacion(formatoForm, 'nombre{{$index+1}}')"> 
						<label class="control-label col-md-2 col-md-offset-2" for="nombre{{$index+1}}">Nombre sección #{{$index+1}}*</label>
						<div class="col-md-8 col-md-offset-0">
							<label>
								<input type="text" class="form-control" name="nombre{{$index+1}}" ng-model="formato.secciones[$index].nombre" id="nombre{{$index+1}}"
								autofocus required>
							</label>
						</div>
							<div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(formatoForm, 'nombre{{$index+1}}')"
								ng-if="mostrarValidacion(formatoForm, 'nombre{{$index+1}}')" multiple>
								<p ng-message="required" class="help-block"><b>Debe ingresar el nombre de la sección.</b></p>
							</div>
					</div>
					 <!-- PESO -->
					<div ng-class="classValidacion(formatoForm, 'peso{{$index+1}}')"> 
						<label class="control-label col-md-2 col-md-offset-2" for="peso{{$index+1}}">Peso (0-100)% *</label>
							<div class="col-md-1 col-md-offset-0">
									<input type="number" min="0" max="100" pattern="^[0-9]+" class="form-control" name="peso{{$index+1}}" ng-model="formato.secciones[$index].peso" id="peso{{$index+1}}"
									autofocus required>
							</div>
							<label class="control-label col-md-1 col-md-offset-0">%</label>
							<div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(formatoForm, 'peso{{$index+1}}')"
								ng-if="mostrarValidacion(formatoForm, 'peso{{$index+1}}')" multiple>
								<p ng-message="required" class="help-block"><b>Debe ingresar el peso de la sección.</b></p>
							</div>
					</div>
					 <!-- ORDEN -->
						<label ng-if="formato.numsecciones>1" class="control-label col-md-1 col-md-offset-1" for="orden">Orden*</label>
						<div class="col-md-1">
								<a ng-if="$index != 0" class="glyphicon glyphicon-menu-up" ng-click="cambioArriba($index)"></a>
								<a ng-if="!$last" class="glyphicon glyphicon-menu-down" ng-click="cambioAbajo($index)"></a>
					</div>
					 <!-- CONTENIDO -->
					<div ng-class="classValidacion(formatoForm, 'guia{{$index+1}}')">
						<label class="control-label col-md-8 col-md-offset-2" for="guia{{$index+1}}">Contenido*</label>
							<div class="col-md-8 col-md-offset-2">
								<input type="text" class="form-control" name="guia{{$index+1}}" ng-model="formato.secciones[$index].guia" id="guia{{$index+1}}" ckeditor="config"
								 autofocus required>
								<br><hr><br>
							</div>
							<div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(formatoForm, 'guia{{$index+1}}')"
								ng-if="mostrarValidacion(formatoForm, 'guia{{$index+1}}')" multiple>
								<p ng-message="required" class="help-block"><b>Debe ingresar el contenido de la sección.</b></p>
							</div>
					</div>
				</div>
				<div class="form-group" ng-if="formato.numsecciones>=0"></div>
				<!---                 Pie de página                -->
					<!-- nombre -->
					<label class="control-label col-md-2 col-md-offset-2">Pie de página</label>
					 <!-- CONTENIDO Del pie de página-->
					<div class="col-md-8 col-md-offset-2">
						<input type="text" class="form-control" name="pie_pagina" ng-model="formato.pie_pagina" id="pie_pagina" ckeditor="config">
						<br><hr><br>
					</div>	
			</div>
			
			</div>
		</br>
		
		<div class="text-center" ng-if="formato.numsecciones>=0">
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" ng-click="mostrarInfo(formato)">Vista preliminar</button>
			<button type="submit" class="btn btn-success btn-lg" ng-click="formato()" ng-if="cambiaBoton=='N'">Guardar formato</button>
			<button type="submit" class="btn btn-success btn-lg" ng-click="formato()" ng-if="cambiaBoton=='Y'">Guardar compromiso y formato</button>

		</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="exampleModalLabel">Formato {{formato.titulo | uppercase}}</h4>
				<br>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<br>
									<ng-bind-html ng-bind-html="formato.encabezado | trusted"></ng-bind-html>
							</div>
						</div>
					</div>
				<!-- Contenido-->
				<div ng-repeat="i in getNumber(formato.numsecciones) track by $index">
					<div class="row">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<h4><b>{{formato.secciones[$index].nombre}}</b></h4>
								<br>
							</div>
							<div class="col-md-10 col-md-offset-1">
									<input type="text" disabled class="form-control" name="guia{{$index+1}}" ng-model="formato.secciones[$index].guia" id="guia{{$index+1}}" ckeditor="config">
									<br>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<br>
									<ng-bind-html ng-bind-html="formato.pie_pagina | trusted"></ng-bind-html>
							</div>
						</div>
					</div>
				<br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
				
	

	

