<div class="equipos">
  <div class="views">
    <div class="lista">
        <blockquote class="card" ng-click="obtenerBitacoras();seleccionarOpcion()">
          <div class="detalles" >
            <p>Bitácora</p>
            <small>Acá se permite llevar el control de las reuniones</small>
        </blockquote>

        <blockquote class="card" ng-click="cargarInformacion()">
            <div class="detalles" >
              <p>Compromisos</p>
              <small>Compromisos pendientes por parte del equipo</small>
          </blockquote>
    </div>
  </div>
</div>
