<div class="" style="width: 70%; margin: auto">
    <div class="page-header text-center">
      <h1><font color="green"><strong>Bitácoras</strong></font></h1>
    </div>

    <div class=" form-group inner-addon" style="margin-bottom:15px">
        <div class="left-addon col-sm-9">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" ng-model="buscar.FCCD" placeholder="Buscar bitácora." />
        </div>
        <div class="text-center col-sm-3" align="left">
            <button class="btn btn-success" ng-click="irACrearBitacora()">Crear Bitácora</button>
        </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th ng-click="ordenarBitacoraPor('$index')"><a>#</a></th>
          <th ng-click="ordenarBitacoraPor('fecha')"><a>FECHA</a></th>
          <th ng-click="ordenarBitacoraPor('contenido_reunion')"><a>CONTENIDO REUNIÓN</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bitacora in $root.bitacoras | orderBy:ordenadoBitacora | filter:buscar.FCCD">
          <td>{{$index + 1}}</td>
          <td>{{bitacora.fecha.substring(0,10)}}</td>
          <td>{{bitacora.contenido_reunion.substring(0,75)}}...</td>
          <template><td>{{bitacora.contenido_reunion}}</td></template>
          <template><td>{{bitacora.compromisos}}</td></template>
          <template><td>{{bitacora.dificultades}}</td></template>
          <td>
              <span class="glyphicon glyphicon-edit" ng-click="actualizar(bitacora)"></span>
          </td>
          <td>
            <span class="glyphicon glyphicon-trash" ng-click="eliminar(bitacora)"></span>
        </td>
        </tbody>
      </tr>
    </table>
  </div>
