<div class="equipos">
  <div class="views">
    <div class="lista" ng-if="equipo.inscripcion.proyecto.nombre">
        <blockquote class="card" ng-click="obtenerBitacoras(equipo);seleccionarOpcion(equipo)">
          <div class="detalles" >
            <p>Bitácora</p>
            <small>Acá se permite llevar el control de las reuniones</small>
        </blockquote>

        <blockquote class="card" ng-click="obtenerCompromisos(equipo);">
          <div class="detalles" >
            <p>Compromisos</p>
            <small>Compromisos pendientes por parte del equipo</small>
        </blockquote>
    </div>
  </div>
</div>
