<div class="page-header text-center">
  <h1>
    <font color="green">
      <strong id="top">Configuración de compromisos</strong>
    </font>
  </h1>
</div>
<div class="row">
  <label class="col-md-10 col-md-offset-2 requerido">
    <em>
      <u>Todos los campos marcados con * son obligatorios</u>
    </em>
  </label>
  <br>
  <br>
</div>

<div class="compromisos">
  <form class="form-horizontal" name="compromisosForm" ng-submit="crearCompromiso()" novalidate>
    <div class="form-group">

      <!-- CURSO -->
      <div ng-class="classValidacion(compromisosForm, 'curso')"> 
        <label class="control-label col-md-2 col-md-offset-2" for="curso">Curso*</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="compromisos.curso" name="curso" id="asignaturas{{$index}}" required>
              <option value="" disabled selected>Seleccione un curso...</option>
              <option ng-repeat="curso in asignaturas"
              value="{{curso.codigo}}" >{{curso.codigo + " - " +curso.nombre}}</option>
            </select>
        </div>
      </div>

      <div ng-class="classValidacion(compromisosForm, 'semestre')">
      <!-- SEMESTRE -->
      <label class="control-label derecha col-md-2" for="semestre">Semestre*</label>
      <div class="col-md-2">
          <select class="form-control" id="semestre" name="semestre" ng-model="compromisos.semestre" required>
              <option value="" disabled selected>Seleccione un semestre...</option>
              <option ng-repeat="s in semestres" value="{{s.codigo}}">{{s.codigo}}</option>
            </select>
      </div>
      </div> 

      <div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(compromisosForm, 'curso')"
			  	ng-if="mostrarValidacion(compromisosForm, 'titulo')" multiple>
					<p ng-message="required" class="help-block"><b>Debe ingresar el curso correspondiente para el compromiso.</b></p>
        </div>
        
        <div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(compromisosForm, 'semestre')"
				ng-if="mostrarValidacion(compromisosForm, 'titulo')" multiple>
					<p ng-message="required" class="help-block"><b>Debe ingresar el semestre correspondiente para el compromiso.</b></p>
				</div>
    </div>

    <!-- TÍTULO -->
    <div class="form-group">
      <div ng-class="classValidacion(compromisosForm, 'titulo')">
      <label class="control-label col-md-2 col-md-offset-2" for="titulo">Título*</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="titulo" ng-model="compromisos.titulo" id="titulo" placeholder="Acta de Compromiso"
          autofocus required>
      </div>

      <div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(compromisosForm, 'titulo')"
				ng-if="mostrarValidacion(compromisosForm, 'titulo')" multiple>
					<p ng-message="required" class="help-block"><b>Debe ingresar el titulo del compromiso.</b></p>
				</div>
		</div>
    </div>

    <!-- PORCENTAJE -->
    <div class="form-group">
      <div ng-class="classValidacion(compromisosForm, 'porcentaje')">
      <label class="control-label col-md-2 col-md-offset-2" for="porcentaje">Porcentaje (0-100)%*</label>
      <div class="col-md-2">
        <input type="number"  min="0" max="100"  class="form-control" name="porcentaje" ng-model="compromisos.porcentaje" id="porcentaje" required>
      </div>
      <div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(compromisosForm, 'titulo')"
			ng-if="mostrarValidacion(compromisosForm, 'titulo')" multiple>
				<p ng-message="required" class="help-block"><b>Debe ingresar el porcentaje del compromiso.</b></p>
			</div>
	</div>
    </div>

    <!-- DESCRIPCIÓN -->
    <div class="form-group">
      <div ng-class="classValidacion(compromisosForm, 'descripcion')">
      <label class="control-label col-md-2 col-md-offset-2" for="cuerpo">Descripción*</label>
      <div class="col-md-6">
        <textarea class="form-control" rows="2" name="descripcion" ng-model="compromisos.descripcion" style="resize: none; height: 200px"
          placeholder="Escriba aquí el cuerpo del formato." name="descripcion" id="descripcion" required></textarea>
      </div>

      <div class="col-md-6 col-md-offset-4" ng-messages="inputValidacion(compromisosForm, 'descripcion')"
				ng-if="mostrarValidacion(compromisosForm, 'descripcion')" multiple>
					<p ng-message="required" class="help-block"><b>Debe ingresar la descripción del compromiso.</b></p>
				</div>
			</div>
    </div>

    <!-- RESPONSABLE ESTUDIANTE -->

    <div class="form-group">
      <label class="control-label col-md-2 col-md-offset-2">Obligatorio para</label>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="compromisos.checkEstudiante" class="checkitem"> Estudiante
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{fecha.format}}" ng-model="fecha.fechaEstudiante.fecha" datepicker-options="fecha.opcionesFecha"
            is-open="fecha.fechaEstudiante.opened" clear-text="Borrar" close-text="Cerrar" current-text="Hoy"
          />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open(fecha.fechaEstudiante)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="compromisos.requiresAttachment" class="checkitem"> Requiere adjunto
          </label>
        </div>
      </div>
    </div>

    <!-- RESPONSABLE PROFESOR -->

    <div class="form-group">
      <label class="control-label col-md-2 col-md-offset-2" for="titulo">Obligatorio para</label>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="compromisos.checkProfesor" class="checkitem"> Profesor
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{fecha.format}}" ng-model="fecha.fechaProfesor.fecha" datepicker-options="fecha.opcionesFecha"
            is-open="fecha.fechaProfesor.opened" clear-text="Borrar" close-text="Cerrar" current-text="Hoy"
          />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open(fecha.fechaProfesor)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div> 
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="compromisos.requiresGrade" class="checkitem"> Reporte de nota
          </label>
        </div>
      </div>
    </div>
    </br>
    </br>

    <!-- ARCHIVOS -->
    <div class="form-group">
      <label class="control-label col-md-2 col-md-offset-2" for="selectFiles">Seleccionar archivos</label>
      <div class="col-md-6">
        <label class="btn btn-success" for="multfile">
          <input id="multfile" type="file" multiple="multiple" style="display:none" onchange="
                  $(this).parent().addClass('btn-success');
                  angular.element(this).scope().getFileDetails(this)">
          <span id="multfile-label">Archivos&hellip;</span>
        </label>
      </div>
      <div ng-if="filenames.length>0">
        <span class="control-label col-md-2 col-md-offset-2">
          <div></div>
        </span>
        <div class="col-md-6">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>NOMBRE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="name in filenames">
                <td>{{$index + 1}}</td>
                <td>{{name}}</td>
                <td>
                  <span class="glyphicon glyphicon-trash" ng-click="eliminarAnexo(name)"></span>
                </td>
                <td ng-if="fecha.modo == 'ACTUALIZAR' && $index<filenamesViejo.length">
                  <a class="glyphicon glyphicon-download-alt" href="materiaCompromiso/download?id={{ids[$index]}}"></a>
                </td>
            </tbody>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Añadir formato</button>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="exampleModalLabel">Insertar Formato</h4>
            <br>
        </div>
        <div class="modal-body text-center">
            <label class="control-label col-md-2 col-md-offset-3" for="formato">Formato*</label>
            <div class="col-md-4 col-md-offset-0">
                <select class="form-control" ng-model="compromisos.formato" name="formato" id="formatos{{$index}}" required>
                  <option value="" disabled selected>Seleccione un formato..</option>
                  <option ng-repeat="format in formatos"
                  value="{{format.id}}">{{format.titulo}}</option>
                </select>
            </div>
          <br><br> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="irFormato()" data-dismiss="modal">Nuevo formato</button>
          <button type="button" class="btn btn-default" ng-click="crearCompromiso()" data-dismiss="modal">Aceptar formato</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>