<h1>Actualizar</h1>
<form action="http://localhost:1337/Bitacora/update?contenido=hola&compromisos=cambio 45&dificultades=45&semestre=2018-1&fecha=2018-04-07T10:55:00&grupo=18245-07&bitacora_id=116" enctype="multipart/form-data" method="post">
    <input type="text" name="title"><br>
    <input type="file" name="anexos" multiple="multiple"><br>
    <input type="submit" value="Subir archivos">
    
</form>

<h1>crear</h1>
<form action="http://localhost:1337/Bitacora/create?contenido=ejemplo de delete&proyecto_id=2&compromisos=ejemplo de delete&dificultades=ejemplo de delete&semestre=2018-1&fecha=2018-04-11T11:25:00&grupo=18245-07" enctype="multipart/form-data" method="post">
    <input type="text" name="title"><br>
    <input type="file" name="anexos" multiple="multiple"><br>
    <input type="submit" value="Subir archivos">
    
</form>

<h1>crear compromiso</h1>
<form action="http://localhost:1337/MateriaCompromiso/create?titulo=Acta de compromiso&descripcion=Lorem ipsum dolor sit amet&porcentaje=0&completaEquipo=true&fechaEquipo=2018/05/11&adjunto=true&completaTutor=true&fechaTutor=2018/10/1&calificable=false&materia_id=2508103&semestre_id=2018-1&formato_id=6" enctype="multipart/form-data" method="post">
    <input type="text" name="title"><br>
    <input type="file" name="anexos" multiple="multiple"><br>
    <input type="submit" value="Subir archivos">
    
</form>



